* {
    background-color: #fff7e0;
    line-height: 1.8;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #CFE0C3;
    margin: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    text-align: center;
}

li {
    list-style-type: none;
}

.hidden {
    display: none;
}

/* similar to display:none, but keeps position */
.nav-hide {
    visibility: hidden;  
}

.choices {
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

#score-history {
    font-size: larger;
    font-weight: 800;
}
